/* div.main {
  font-family: Arial;
}

h1 {
  text-align: center;
  font-family: Arial;
  color: black;
  font-weight: bold;
}

p {
  text-align: center;
}

h2 {
  font-family: Arial;
  color: black;
  font-weight: bold;
} */
/* 
.title .image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  position: absolute;
  top: 10px;
  left: 490px;
}

.image3 {
  position: absolute;
  top: 440px;
  left: 1230px;
}
.heading1 {
  position: absolute;
  top: 250px;
  left: 520px;
  font-size: 35px;
  font-family: sans-serif;
  color: white;
  font-style: bold;
  font-weight: 800;
}
*/

body {
  margin: 0;
}
.title {
  position: relative;
  height: 70vh;
}
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.parent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.top_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.heading1 {
  color: white;
  font-size: 36px;
  font-family: sans-serif;
  font-weight: bold;
}

.image3 {
  align-self: flex-end;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4.00em;
  width: 2em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;

}

.ara_image {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 500px;
  padding-right: 500px;
  padding-top: 100px;
  justify-items: center;
}

.Wines {
  background-color: white;
}

.Wines h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 900;
  font-size: 25px;
}
.Wines p {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(49, 49, 49);
  font-weight: lighter;
  font-size: 20px;
  padding-left: 50px;
  line-height: 1.5;
}

.arrow_link {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 500px;
  padding-right: 500px;
  justify-items: center;
}

.ara_image {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 500px;
  padding-right: 500px;
  justify-items: center;
}
.pure_parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 460px;
  padding-right: 470px;
}

.pure {
  background-color: rgb(248, 248, 248);
  align-content: space-around;
  opacity: 1;
  /* border: solid; */
  /* justify-content: left; */
}
.pure h1 {
  /* background-color: lightgray; */
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 900;
  font-size: 25px;
  padding-left: 50px;
}

.pure p {
  /* background-color: lightgray; */
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(49, 49, 49);
  font-weight: lighter;
  font-size: 20px;
  padding-left: 50px;
  line-height: 1.5;
}



.pure-img {
  background: white;
  /* border: solid; */
}

.ara_image {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 500px;
  padding-right: 500px;
  justify-items: center;
}

.our_wines {
  background-color: rgb(248, 248, 248);
  align-content: space-around;
  opacity: 1;
}

.our_wines_parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(248, 248, 248);
  align-content: space-around;
  opacity: 1;
}
.our_wines h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  font-weight: 900;
  font-size: 25px;
  background-color: rgb(248, 248, 248);
  align-content: space-around;
  opacity: 1;
}
/* .our_wines_parent p {
  text-align: left;
  font-family: sans-serif;
  color: rgb(66, 66, 66);
  font-weight: 100;
  font-size: 20px;
} */

.our_wines_child {
  display: grid;
  padding-left: 200px;
  padding-right: 200px;
  background-color: rgb(248, 248, 248);
  align-content: space-between;
  opacity: 1;
}

.our_wines_child h1 {
  text-align: center;
  font-family: Arial;
  color: black;
  font-weight: bold;
  font-size: 30px;
}
/* .our_wines_child2 p {
  text-align: center;
} */
.our_wines_child3 h1 {
  text-align: center;
  font-family: Arial;
  color: black;
  font-weight: bold;
  font-size: 30px;
}
/* .our_wines_child3 p {
  text-align: right;
} */
.our_wines_img1 {
  width: 317px;
  height: 267px;
}

.our_wines_img2 {
  width: 160px;
  height: 267px;
}
.our_wines_img3 {
  width: 317px;
  height: 267px;
}

.ara_image {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 500px;
  padding-right: 500px;
  justify-items: center;
}

.quality {
  background-color: rgb(248, 248, 248);
  align-content: space-around;
  opacity: 0.8;
}
.quality_parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 460px;
  padding-right: 470px;
}
.quality h1 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 900;
  font-size: 25px;
  padding-left: 50px;
}
.quality_child p {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(49, 49, 49);
  font-weight: lighter;
  font-size: 20px;
  padding-left: 50px;
  line-height: 1.5;
}
.quality-img {
  border: none;
}

.ara_image {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 500px;
  padding-right: 500px;
  justify-items: center;
}

.cool_climate_parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 460px;
  padding-right: 470px;
}
.cool_climate {
  background-color: rgb(248, 248, 248);
  align-content: space-around;
  opacity: 1;
}
.cool_climate h1 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 900;
  font-size: 25px;
  padding-left: 50px;
}
.cool_climate p {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(49, 49, 49);
  font-weight: lighter;
  font-size: 20px;
  padding-left: 50px;
  line-height: 1.5;
}
.scroll_images {
  border: none;
}

.ara_image {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 500px;
  padding-right: 500px;
  justify-items: center;
}

.latest_release_parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 460px;
  padding-right: 470px;
}

.latest_release {
  background-color: rgb(248, 248, 248);
  align-content: space-around;
  opacity: 1;
}

.latest_release h1 {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 900;
  font-size: 25px;
  padding-left: 50px;
}
.latest_release_child p {
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(49, 49, 49);
  font-weight: lighter;
  font-size: 20px;
  padding-left: 50px;
  line-height: 1.5;
}

.ara_image {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 500px;
  padding-right: 500px;
  justify-items: center;
}

.ara_image {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 500px;
  padding-right: 500px;
  justify-items: center;
}

.multi_images_parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
  justify-items: center;
}

.grid1 {
  display: grid;
  margin: 1px;
  gap: 10%;
}
.grid2 {
  display: grid;
  margin: 1px;
  gap: 10%;
}
.grid3 {
  display: flex;
  margin: 1px;
}
.grid4 {
  display: flex;
  margin: 1px;
}
.grid5 {
  display: flex;
  margin: 1px;
  margin-top: -2.2%;
  margin-bottom: 0.3%;
}
.grid6 {
  display: flex;
  margin: 1px;
  margin-bottom: 0.3%;
}

.footer {
  height: 30vh;
  width: 100%;
  background-color: black;
  text-align: left;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 10px;
  top: 50px;
}

.top-row {
  display: flex;
  width: 100%;
  justify-content: left;
}

.parent1 {
  padding-left: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  color: white;
}
.links {
  padding-left: 350px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  justify-content: space-between 20px;
}
.links a {
  color: white;
}
/* .lower_row{
  display:flex;
  width:100%;
  justify-content: left;

} */

.copyright {
  padding-left: 350px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
/* .footer{
  background-color: black;
  text-align: left;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
} */

/* carousel stuff */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f2f2;
} */

/* .document-center {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/*We do this because the carousel needs to be 100% width 
  in order for the aspect ratio trick to work*/
.carousel-container {
  max-width: 100%;
  width: 100%;
  display: flex;
}

/*This is the actual carousel. Overflow hidden acts as a mask*/

.carousel {
  position: relative;
  width: 100%;
  /*Width of image is 980px. Height is 570px.*/
  padding-top: calc(650 / 700 * 100%);
  overflow: hidden;
}

.carousel-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.left-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.left-arrow:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.left-arrow:hover .chevron,
.right-arrow:hover .chevron {
  border-color: #e6e6e6;
}

.right-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 147px;
  cursor: pointer;
}

.right-arrow:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.chevron {
  width: 25px;
  height: 25px;
  border: opacity rgba(255, 255, 255, 0.5);
  border-width: 10px 10px 0 0;
}

.chevron.right {
  transform: rotate(45deg);
}

.chevron.left {
  transform: rotate(-135deg);
}

.circle {
  border: 1px solid white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.circle-fill {
  background-color: white;
}

.carousel-screen {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Animations */
@keyframes toRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes toLeft {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes comeRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes comeLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
